<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sanswai.achieve">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>

    <application
        android:name=".global.AchieveApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".activity.AddEditEmploymentActivity"></activity>
        <activity android:name=".activity.EditEducationDetailsActivity" />
        <activity android:name=".activity.EditResumeHeadlineActivity" />
        <activity android:name=".activity.EditCareerPathActivity" />
        <activity android:name=".activity.EditPersonalDetailsActivity" />
        <activity android:name=".activity.AddReviewActivity" />
        <activity android:name=".activity.EmployerDashboardActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.DetailsActivity" />
        <activity
            android:name=".activity.ReviewDetailsActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".activity.EmpProfileActivity" />

        <receiver
            android:name=".global.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>
    </application>

</manifest>